@font-face {
  font-family: 'Avenir-Next-Regular';
  src:  url('../fonts/avenir-next-regular.woff2') format('woff2'),
        url('../fonts/avenir-next-regular.woff') format('woff');
}

@font-face {
  font-family: 'Avenir-Next-Medium';
  src:  url('../fonts/avenir-next-medium.woff2') format('woff2'),
        url('../fonts/avenir-next-medium.woff') format('woff');
}

@font-face {
  font-family: 'Avenir-Next-Demibold';
  src:  url('../fonts/avenir-next-demibold.woff2') format('woff2'),
        url('../fonts/avenir-next-demibold.woff') format('woff');
}

@font-face {
  font-family: 'Avenir-Next-Bold';
  src:  url('../fonts/avenir-next-bold.woff2') format('woff2'),
        url('../fonts/avenir-next-bold.woff') format('woff');
}

@font-face {
  font-family: 'Avenir-Next-Ultralight';
  src:  url('../fonts/avenir-next-ultralight.woff2') format('woff2'),
        url('../fonts/avenir-next-ultralight.woff') format('woff');
}
