.places-list-container {
  width: 100%;

  .places-list {
    height: calc(100vh - 90px);
    overflow-y: auto;

    .place {
      display: flex;
      justify-content: space-between;
      position: relative;
      border-radius: 4px;
      margin-left: 26px;
      margin-right: 26px;
      margin-bottom: 16px;
      padding: 22px;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.09);
      transition: box-shadow 0.15s ease-in;
      cursor: pointer;

      &:first-child {
        margin-top: 26px;
      }

      &:last-child {
        margin-bottom: 26px;
      }

      &:hover {
        box-shadow: 0 9px 15px 0 rgba(132, 130, 130, 0.17),
                    0 2px 10px 0 rgba(0, 0, 0, 0.09);
      }

      .left-side {
        .name {
          font-family: 'Avenir-Next-Demibold';
          font-size: 18px;
          margin-bottom: 16px;
        }

        .vicinity {
          font-size: 14px;
          margin-top: 4px;
          margin-bottom: 4px;
          opacity: 0.8;
        }
      }

      .right-side {
        .place-label {
          display: flex;
          flex-direction: row;

          .place-label-name {
            font-size: 14px;
            color: $primary-color;
            text-transform: capitalize;
          }

          .place-label-icon {
            width: 16px;
            height: 16px;
            background-image: url('../images/labeled-place-icon.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-color: Transparent;
            margin-right: 6px;
          }
        }
      }
    }
  }
}
