@import '../../node_modules/spinkit/scss/spinners/5-pulse';

.search-bar-container {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  @include shadow-elevation-2dp;

  .search-bar {
    display: flex;

    input {
      min-width: 300px;
      height: 50px;
      box-sizing: border-box;
      padding-left: 22px;
      border: none;
      border-radius: 5px 0 0 5px;
      outline: 0;
      font-family: 'Avenir-Next-Regular';

      &::placeholder {
        color: #D4D4D4;
        font-family: 'Avenir-Next-Ultralight';
      }
    }

    .search-icon-button {
      width: 50px;
      height: 50px;
      padding: 0;
      border: none;
      outline: 0;
      cursor: pointer;
      background-image: url('../images/search-icon.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-color: #FFFFFF;
      background-size: 37%;
    }
  }

  .back-button-offset {
    padding-left: 50px;
  }

  .loading-icon-container {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 0 5px 5px 0;

    .loading-icon {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 30px;
      height: 30px;
      background-color: $accent-color;
      margin: 0;
    }
  }

  .close-left-panel-button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 0 5px 5px 0;
    outline: 0;
    cursor: pointer;
    background-image: url('../images/close-left-panel-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-size: 35%;
  }

  .close-place-details-button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    outline: 0;
    border: none;
    background-image: url('../images/back-place-details-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: Transparent;
  }
}
