@import '_normalize';
@import '_fonts';
@import '_colors';
@import '_shadows';
@import '_bookmarks-panel';
@import '_search-bar';
@import '_quick-search';
@import '_places-list';
@import '_place-details';
@import '_ratings';
@import '_add-label';

.container {
  font-family: 'Avenir-Next-Regular', sans-serif;
  width: 100%;
  height: 100%;
}

.app-container {
  display: flex;
  position: relative;
}

.google-map {
  width: 100%;
  height: 100vh;
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  opacity: 0.7;
  background-color: black;
  z-index: 1;
  pointer-events: none;
}

.left-panel {
  min-width: 440px;
  height: 100vh;
  z-index: 10;
  background-color: $secondary-color;
  box-sizing: border-box;
  @include shadow-elevation-12dp;

  .search-bar-background {
    width: 100%;
    height: 90px;
    background-color: $primary-color;
    z-index: 50;
  }
}

.bookmarks-button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 64px;
	height: 64px;
  border: none;
  border-radius: 50%;
  outline: none;
  z-index: 15;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.15s ease-in;
  cursor: pointer;
  background-image: url('../images/bookmarks-button-open.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: $primary-color;

  &:hover {
    box-shadow: 0 9px 15px 0 rgba(132, 130, 130, 0.23),
                0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}

.overlay-on {
  background-color: Transparent;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

  &:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.closed {
  min-width: 0px;
}
