@import '_normalize';
$primary-color: #32BD8C;
$text-grey: #757575;
$secondary-color: #FAFAFA;
$error-red: #DB4437;

.container {
  width: 100%;
  height: 100%;
}

.app-container {
  display: flex;
  position: relative;
}

.search-bar {
  position: fixed;
  margin-top: 20px;
  left: 20px;
  z-index: 100;

  input {
    min-width: 350px;
    height: 50px;
    box-sizing: border-box;
    padding: 17px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
}

.google-map {
  width: 100%;
  height: 100vh;
}

.left-panel {
  min-width: 390px;
  height: 100vh;
  z-index: 10;
  background-color: $secondary-color;
  box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14),
              0 4px 22px 3px rgba(0, 0, 0, 0.12),
              0 6px 7px -4px rgba(0, 0, 0, 0.4);

  .search-bar-background {
    width: 100%;
    height: 90px;
    background-color: $primary-color;
    z-index: 50;
  }

  .places-list-container {
    width: 100%;

    .places-list {
      height: calc(100vh - 90px);
      overflow-y: auto;

      .place {
        height: 100px;
        border: 1px solid red;
      }

      .place-highlighted {
        background-color: yellow;
      }
    }
  }
}

.bookmarks-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 15;
}

.bookmarks-panel {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 390px;
  height: 100vh;
  z-index: 20;
  background-color: $secondary-color;
  box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14),
              0 4px 22px 3px rgba(0, 0, 0, 0.12),
              0 6px 7px -4px rgba(0, 0, 0, 0.4);

  .header {
    background-color: $primary-color;
    height: 90px;
  }

  .bookmarks-category {
    margin: 20px;

    .category-header {
      text-transform: capitalize;
      margin-bottom: 10px;
      color: #3ABF90;
    }
  }

  .bookmarks-place {
    margin-bottom: 20px;
    border: 1px solid red;

    .open-now {
      color: $text-grey;
    }

    .closed-now {
      color: $error-red;
    }
  }
}

.closed {
  min-width: 0px;
}
